<menu>
    <Reporting>
        <GoWithTheFlow VisibleName="Go With The Flow" cssClass="fa fa-exchange fa-fw">
            <Live order="10" url="/ui/gowiththeflow/live"/>
            <History order="20" url="/ui/gowiththeflow/history"/>
            <DnsQueries VisibleName="DNS Queries" order="25" url="/ui/gowiththeflow/dnsqueries"/>
            <TopTalkers VisibleName="Top Talkers" order="30" url="/ui/gowiththeflow/toptalkers"/>
            <Blockrules VisibleName="Block Rules" order="40" url="/ui/gowiththeflow/blockrules"/>
        </GoWithTheFlow>
    </Reporting>
    <Services>
        <GoWithTheFlow VisibleName="Go With The Flow" cssClass="fa fa-exchange fa-fw">
            <Settings order="10" url="/ui/gowiththeflow/settings"/>
        </GoWithTheFlow>
    </Services>
</menu>
